*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

:root{

    
    --grad1:#feda75;
    --grad2: #fa7e1e;
    --grad3:#d62976;
}

.container{

    display: flex;
    justify-content: center;
    height: 100vh ;
    align-items: center
}

.progressbar{

    width: 400px;
    height: 40px;
    border: 2px solid grey;
    border-radius: 30px;
   
}

.progress{

    height:36.5px ;
    border-radius: 30px;
    animation: 3s linear  move infinite ;

}

@keyframes move {
    
    from{
         
      width: 10%;
      background: var(--grad1);
         
    }

    to{
        width: 100%;
        background:var(--grad2);
    }
}