*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}
.container{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    max-width: 320px;
}

.searchbar{

    width: 100px;
    border: 1px solid black;
    border-radius: 7px;
    line-height: 2;
    transition: all 0.5s;
    
    
}
.searchbar:focus{  

    width: 100%;
    background-color: rgb(219, 219, 219);
    color: black;
    font-size: 15px;
    font-weight: 400;
}