*{
    
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{

    background-color: rgb(197, 197, 199);
}
.container{

    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.flag{
    
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #005cbf;
    display: flex;
}

.horizontal-bar,.vertical{

position: absolute;
background-color: #ffc720;

}
.horizontal-bar{

    width: 100%;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
}
.vertical{
    width: 40px;
    height: 100%;
    left: 30%;
    transform: translateX(-50%);
}
