*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.toogle-wrap{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

label{

 
    width: 100px;
    height: 40px;
    border: 3px solid black;
    border-radius: 30px;
    padding: .25em;
    
}

.toggle-input{

    display:none ;
}

.toggle-switch{

    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: black;
    
}


.toggle-input:checked ~ .toggle-switch {

    transform: translateX(calc(100px - 40px));
    background-color: rgb(0, 0, 188);
}
body{

    background-color: darkcyan;
}